.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  padding: 0px;
}
.header {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 130px;
  max-width: none;
  background: linear-gradient(180deg, #b469ef 0%, #b469ef 5%, #4f0da3 100%) 0%
    0% / 100% 100% repeat;
  flex-shrink: 0;
  padding: 8px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: none;
  margin-left: calc(-46% + 50px) !important;
  width: 90px;
  height: auto;
  margin-right: 3px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin-left: calc(-67% + 50px) !important;
  }
}
.text__i4LCr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  margin-left: calc(393px + 50px) !important;
  align-self: auto;
  margin-right: -217px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i4LCr {
    margin-left: calc(393px + 50px) !important;
    display: none;
  }
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: row;
  padding: 0px;
}
.mainLeft {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 100%;
  background: url("./images/maskGrouppng.png") top 50% left 50% / cover repeat,
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  flex-direction: column;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainLeft {
    display: none;
  }
}
.mainRight {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__lSkQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 20px;
  font-weight: 700;
  margin: 10% 0% 0% 10%;
}
.textInput__o7Q0D {
  position: relative;
  width: 50%;
  height: 40px;
  max-width: 100%;
  padding-left: 4%;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 1% 0% 0% 10%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__o7Q0D {
    width: 60%;
  }
}
.textInput__ni40S {
  position: relative;
  width: 50%;
  height: 40px;
  max-width: 100%;
  padding-left: 4%;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 1% 0% 0% 10%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__ni40S {
    width: 60%;
  }
}
.button {
  position: relative;
  width: 30%;
  height: 40px;
  background: #5916a6;
  color: #ffffff;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 20% 0% 0% 20%;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    width: 40%;
    margin-left: 25%;
  }
}
