.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
}
.headerModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: row;
  overflow: hidden;
  padding: 0px;
}
.left {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  background: url("./images/maskGrouppng.png") top 50% left 50% / cover repeat,
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 600px) {
  .left {
    display: none;
  }
}
.right {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  left: auto;
  top: auto;
  flex-direction: column;
  background: none;
}
.text___8REJz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-weight: 700;
  font-size: 20px;
  align-self: baseline;
  margin: 9% 0% 0% 10%;
}
.textInput {
  position: relative;
  width: 50%;
  height: 40px;
  max-width: 100%;
  padding-left: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 1% 0% 0% 9%;
}
@media (min-width: 0px) and (max-width: 600px) {
  .textInput {
    width: 70%;
  }
}
.text__oqFck {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 400;
  align-self: baseline;
  margin: 6% 0% 0% 9%;
}
.button {
  position: relative;
  width: 33.51%;
  height: 40px;
  padding-left: 0px;
  background: #af1ff7;
  color: #ffffff;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 19% 0% 0% 16%;
}
@media (min-width: 0px) and (max-width: 600px) {
  .button {
    width: 60%;
    height: 40px;
    margin-left: 16%;
    flex-shrink: 0;
  }
}
