.root2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.dashboardSidebar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 20%;
  height: auto;
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  padding: 0px;
}
.businessHeader:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.peopleMainContent {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: row;
  padding: 0px;
}
.peopleMainContentLeft {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  background: #f4f4f4;
  overflow: auto;
  padding: 0px 0px 101px;
}
.rectangle209 {
  background: linear-gradient(
      180deg,
      rgba(175, 100, 236, 1) 0%,
      rgba(78, 12, 162, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  flex-shrink: 0;
}
.span {
  display: block;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  width: 149px;
  height: 14px;
  flex-shrink: 0;
}
.rectangle218 {
  background: rgba(255, 255, 255, 1);
  width: 95%;
  height: 415px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  flex-direction: column;
  box-shadow: 1px 1px 16px 0px #00000033;
  flex-shrink: 0;
}
.text__hAhSd {
  display: block;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
  width: auto;
  height: auto;
  margin: 3% 0% 0% 5%;
}
.freeBox__uksZ {
  display: flex;
  position: relative;
  width: 90%;
  height: 70%;
  max-width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  padding: 8px;
}
.user {
  display: flex;
  position: relative;
  width: 111px;
  height: 124px;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.img__y7ATl {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 111px;
  height: 102px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__y7ATl > picture > img {
  object-fit: cover;
}
.img__y7ATl > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__eahHk {
  display: block;
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: auto;
  top: auto;
  margin-top: 10px;
}
.text__xKyOj {
  display: block;
  font-size: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5px;
}
.text__ld4Bd {
  display: block;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
  width: auto;
  height: auto;
  margin: 2% 0% 0% 78%;
}
.rectangle273 {
  background: rgba(255, 137, 20, 1);
  width: 283px;
  height: 49px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
  border-width: 0px;
}
.rectangle214 {
  background: rgba(255, 255, 255, 1);
  width: 95%;
  height: 402px;
  display: flex;
  box-shadow: 1px 1px 16px 0px #00000033;
  flex-direction: column;
  flex-shrink: 0;
  margin: 21px auto 0px;
}
.suggestions {
  display: block;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  margin: 3% 0% 0% 5%;
}
.freeBox__vR6Iu {
  display: flex;
  position: relative;
  width: 90%;
  height: 70%;
  max-width: 100%;
  flex-direction: row;
  margin-top: 43px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
}
.suggestedUser {
  display: flex;
  position: relative;
  width: 111px;
  height: 124px;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.img__hrb93 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 111px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__hrb93 > picture > img {
  object-fit: cover;
}
.img__hrb93 > .__wab_img-spacer > img {
  object-fit: cover;
}
.peopleMainContentRight {
  display: flex;
  position: relative;
  width: 40%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  overflow: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 600px) {
  .peopleMainContentRight {
    display: none;
  }
}
.selectCategory:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  flex-shrink: 0;
}
.inventoryList:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  flex-shrink: 0;
}
