.root {
  flex-direction: column;
  display: flex;
  width: 95%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 16px 0px #00000036;
  position: relative;
  border-radius: 10px;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 2px;
}
.comment {
  position: relative;
  width: 95%;
  height: auto;
  max-width: 800px;
  margin-top: calc(2% + 2px) !important;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
}
.textInput {
  position: relative;
  width: 95%;
  height: 50px;
  max-width: 100%;
  margin-top: calc(1% + 2px) !important;
  margin-right: auto;
  margin-left: auto;
  background: #9696961a;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 2%;
  border-width: 0px;
}
.button {
  position: relative;
  width: 20%;
  height: 40px;
  color: #ffffff;
  background: #893ad0;
  margin-top: calc(2% + 2px) !important;
  margin-right: 0%;
  margin-bottom: 2%;
  margin-left: 78%;
  flex-shrink: 0;
  border-radius: 10px;
  border-width: 0px;
}
.text {
  position: relative;
  width: 50%;
  height: auto;
  max-width: none;
  margin-top: calc(0% + 2px) !important;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 40%;
}
