.root2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-width: 0;
}
.dashboardSidebar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 20%;
  height: auto;
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  padding: 0px;
}
.businessHeader:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.peopleMainContent {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: row;
  padding: 0px;
}
.peopleMainContentLeft {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  background: #f4f4f4;
  overflow: auto;
  padding: 0px 0px 101px;
}
.rectangle209 {
  background: linear-gradient(
      180deg,
      rgba(175, 100, 236, 1) 0%,
      rgba(78, 12, 162, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  flex-shrink: 0;
}
.span {
  display: block;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  width: 149px;
  height: 14px;
  flex-shrink: 0;
}
.svg__usMva {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 32px;
  height: 39.78px;
  display: block;
  flex-shrink: 0;
}
.rectangle218 {
  background: rgba(255, 255, 255, 1);
  width: 98%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  flex-direction: column;
  box-shadow: 1px 1px 16px 0px #00000033;
}
.img__lrKw9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 199px;
  flex-shrink: 0;
}
.img__lrKw9 > picture > img {
  object-fit: cover;
}
.img__lrKw9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__xQhYz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  display: block;
  left: 461px;
  top: 206px;
  flex-shrink: 0;
}
.img__s0Pyz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 132px;
  height: 125px;
  left: 40%;
  top: 125px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.img__s0Pyz > picture > img {
  object-fit: cover;
}
.img__s0Pyz > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___02Ekz {
  display: block;
  font-size: 26px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.8);
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.text__mK0Mz {
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.text__t6Fs9 {
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.text___4Opyr {
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.group277 {
  width: 284px;
  height: 51px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #4e0ca2;
  margin-top: 10px;
  flex-shrink: 0;
  border-radius: 10px;
}
.group196 {
  transform: translate(0.4460000000000264px, -0.43100000000004px);
  width: 32px;
  height: 33px;
  display: block;
  position: absolute;
  top: 8px;
  left: 23px;
}
.text___2742I {
  display: block;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__rnQzj {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 17px;
  left: 3px;
  transform: translate(-0.21600000000000819px, -0.3389999999999418px);
}
.group197 {
  transform: translate(0.3250000000000455px, -0.43200000000001637px);
  width: 62px;
  height: 34px;
  display: block;
  position: absolute;
  top: 8px;
  left: 111px;
}
.text__r5Lie {
  display: block;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 3px;
}
.text__sSN {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 18px;
  left: 0px;
  transform: translate(0px, -0.33799999999996544px);
}
.group198 {
  transform: translate(0.37199999999995725px, -0.43200000000001637px);
  width: 57px;
  height: 33px;
  display: block;
  position: absolute;
  top: 9px;
  left: 205px;
}
.text__ohy38 {
  display: block;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__gUiG {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 17px;
  left: 16px;
  transform: translate(-0.3849999999999909px, -0.33799999999996544px);
}
.group249 {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 19px;
  flex-shrink: 0;
  border: 1px solid #c3c3c3;
}
.text__b5VzO {
  display: block;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.699);
  position: relative;
  top: auto;
  left: auto;
  transform: translate(0.30400000000000205px, 0px);
}
.svg__kIXjr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(0.9990720694724681, 1.000071997336058)
    rotate(89.31179550696031deg) skew(-0.000688827128447124deg, 0deg)
    translate(0.17799999999999727px, 0px);
  width: 55px;
  height: 1px;
  display: block;
  transform-origin: top left;
  top: auto;
  left: auto;
  margin-top: -55px;
  flex-shrink: 0;
}
.text__roIig {
  display: block;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.699);
  position: relative;
  top: auto;
  left: auto;
  transform: translate(-0.3289999999999509px, 0px);
}
.postBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.commentBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.peopleMainContentRight {
  display: flex;
  position: relative;
  width: 40%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  overflow: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 600px) {
  .peopleMainContentRight {
    display: none;
  }
}
.messagesBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.inventoryList:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  flex-shrink: 0;
}
